<h1>Modalidades de Transporte</h1>

<div>
  <%= link_to 'Cadastrar Nova Modalidade de Transporte', new_transport_model_path %>
</div>
<% if @transport_models.any? %>
  <% @transport_models.each do |model| %>
    <div>
      <h2><%= link_to model.name, model %>
      </div>
    <% end %>
  <% else %>
    <p>Nenhuma Modalidade de Transporte Cadastrada.</p>
  <% end %>