<h1> Boas-Vindas à Transportadora AML </h1>
<p>Para buscar pela sua entrega, informe o código da Ordem de Serviço </p>

<div>
  <%= form_with(url: search_path, method: :get) do |f|%>
    <%= f.label :query, 'Buscar Entrega' %>
    <%= f.text_field :query %>
    <%= f.submit 'Buscar' %>
  <% end %>
</div>
